<app-header></app-header>

<ion-content [fullscreen]="true">
  <app-sub-header></app-sub-header>

  <div class="title-container">
    <ion-text color="primary" *ngIf="!imageUrl">UPLOAD YOUR IMAGE BELOW!</ion-text>
    <ion-text color="primary" *ngIf="imageUrl">CLICK GENERATE TO GET YOUR VIDEO!</ion-text>
  </div>  

  <div class="picker">
    <ion-item>
      <ion-img
        role="button"
        class="image"
        alt="Picked image"
        *ngIf="imageUrl"
        [src]="imageUrl"
        (click)="onImagePicked()"
      ></ion-img>

      <ion-button
        color="primary"
        size="default"
        (click)="onImagePicked()"
        *ngIf="!imageUrl"
      >
        <ion-label color="light">SELECT IMAGE</ion-label>
        <ion-icon name="image-outline" slot="start" color="light"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

  <p *ngIf="errorMsg" class="error">{{ errorMsg }}</p>

  <ion-list *ngIf="imageUrl" class="btn-container">
    <ion-item *ngIf="!isGenerating">
      <ion-button
        color="tertiary"
        size="large"
        shape="round"
        (click)="onGenerate()"
      >
        <ion-label color="light">GENERATE NOW!</ion-label>
      </ion-button>
    </ion-item>

    <ion-item *ngIf="isGenerating">
      <ion-spinner name="bubbles" color="tertiary"></ion-spinner>
    </ion-item>
  </ion-list>

  <p *ngIf="isGenerating" class="message">{{ message }}</p>
</ion-content>
