<app-header></app-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="resetPasswordLinkForm" (ngSubmit)="onSubmit()">
    <div class="close-btn-container">
      <ion-button
        fill="transparent"
        type="button"
        (click)="onClose()"
      >
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-button>
    </div>

    <ion-list id="form-container">
      <ion-item>
        <ion-input
          labelPlacement="floating"
          label="Email Address"
          fill="outline"
          shape="round"
          clearInput="true"
          type="email"
          formControlName="email_address"
        ></ion-input>
      </ion-item>

      <div class="btn-group">
        <ion-button
          fill="outline"
          color="medium"
          shape="round"
          (click)="onClose()"
        >CANCEL</ion-button>

        <ion-button
          fill="solid"
          color="tertiary"
          shape="round"
          type="submit"
          [disabled]="resetPasswordLinkForm.invalid"
        >SEND</ion-button>
      </div>

      <ion-text *ngIf="errorMsg" class="error">{{ errorMsg }}</ion-text>
    </ion-list>
  </form>
</ion-content>