<app-header></app-header>

<ion-content [fullscreen]="true">
  <app-sub-header></app-sub-header>

  <div class="title-container">
    <ion-text color="primary">ACCOUNT</ion-text>
  </div>  

  <ion-grid *ngIf="user" class="container">
    <ion-row>
      <ion-col>
        <div class="profile-img">
          <ion-avatar slot="start">
            <img *ngIf="!authUserImageUrl" [src]="user.profile_image_url" alt="profile image">
            <img *ngIf="authUserImageUrl" [src]="authUserImageUrl" alt="auth user profile image">
          </ion-avatar>

          <ion-button
            fill="clear"
            color="secondary"
            (click)="onEditProfileImg(user.user_id)"
          >
            <ion-icon slot="icon-only" name="build-outline"></ion-icon>
          </ion-button>

          <ion-text class="verification-text" *ngIf="user.is_verified === 1" color="success">Verified</ion-text>
          <ion-text class="verification-text" *ngIf="user.is_verified === 0" color="danger">Please check your email and verify your account</ion-text>
        </div>

        <br>
        <div class="link-container">
          <ion-button
            fill="clear"
            size="small"
            color="dark"
            *ngIf="!authUserImageUrl"
            (click)="onUpdatePassword(user.user_id)"
          >
            <ion-label color="secondary">Update Password</ion-label>
          </ion-button>

          <ion-button
            fill="clear"
            size="small"
            color="dark"
          >
            <ion-label color="secondary">Terms & Conditions</ion-label>
          </ion-button>

          <ion-button
            fill="clear"
            size="small"
            color="dark"
          >
            <ion-label color="secondary">Privacy Policy</ion-label>
          </ion-button>
        </div>

        <br>
        <div class="btn-container">
          <ion-button
            fill="solid"
            size="large"
            shape="round"
            color="tertiary"
            (click)="logout()"
          >
            <ion-label color="light">LOGOUT</ion-label>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
