.title-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    padding: 1.2em 0.3em;
}

.container {
    margin: 0.3em 1.7em;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.profile-img {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    ion-avatar {
        width: 64px;
        height: 64px;
        min-width: 64px;
        min-height: 64px;
        flex-shrink: 0;
    }
}

.verification-text {
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 14px;
    font-weight: bold;
    margin-left: 1em;
}

ion-text {
    font-family: 'Joti One', sans-serif !important;
    font-size: 1.8em;
    font-style: normal;
    padding: 0.5em 0.3em;
    text-align: center;
}