<app-header></app-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="updatePasswordForm" (ngSubmit)="onUpdatePassword()">
    <ion-list id="form-container">
      <div class="close-btn-container">
        <ion-button
          fill="transparent"
          type="button"
          (click)="onClose()"
        >
          <ion-icon name="close-outline" size="large"></ion-icon>
        </ion-button>
      </div>

      <ion-item>
        <ion-input
          labelPlacement="floating"
          label="Email Address"
          fill="outline"
          shape="round"
          clearInput="false"
          type="email"
          formControlName="email_address"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          labelPlacement="floating"
          label="Old Password"
          fill="outline"
          shape="round"
          clearInput="true"
          type="password"
          formControlName="old_password"
        ></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input
          labelPlacement="floating"
          label="New Password"
          fill="outline"
          shape="round"
          clearInput="true"
          type="password"
          formControlName="password_hash"
        ></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input
          labelPlacement="floating"
          label="Confirm Password"
          fill="outline"
          shape="round"
          clearInput="true"
          type="password"
          formControlName="confirm_password"
        ></ion-input>
      </ion-item>

      <p *ngIf="errorMsg" class="error">{{ errorMsg }}</p>

      <div class="btn-group">
        <ion-button
          fill="outline"
          color="medium"
          shape="round"
          (click)="onClose()"
        >CANCEL</ion-button>

        <ion-button
          fill="solid"
          color="tertiary"
          shape="round"
          type="submit"
          [disabled]="updatePasswordForm.invalid"
        >SEND</ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>
