<ion-tabs>
  <ion-tab-bar color="primary" slot="bottom">
    <ion-tab-button tab="gallery">
      <ion-label color="light">GALLERY</ion-label>
      <ion-icon name="images-outline" color="light"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="generate">
      <ion-label color="light">GENERATE</ion-label>
      <ion-icon name="aperture-outline" color="light"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-label color="light">ACCOUNT</ion-label>
      <ion-icon name="person-outline" color="light"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
